body{
    text-align: center;
    font-size: small;
    background-color: #181A1B;
    color: white;
}

#cc img{
    width:7%; 
    height:7%;
}

.p img{
    width: 35%;
    height:auto;
    margin: 4px;
}

#wimg img{
    width:7%; 
    height:7%;
    margin: 4px;
}